---
layout: default
title: CUTE Guide
active: guides
permalink: /guides/
---
  
<div class="jumbotron">
  <div class="container">
    <h1>Guides <small>&ndash; need help? here you find your answers</small></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 sticky">
      <div class="tutorial-nav">
        <h2 class="post-title" itemprop="name headline">Overview</h2>
        <ul>
          {% for item in site.data.navigation.guides %}
          {% if item.subcategories != null %}
          <li>
            <a href="{{ item.url }}"><big>{{ item.title }}</big></a>
            <ul>
              {% for subcategory in item.subcategories %}
              <li>
                <a href="{{ subcategory.url }}">{{ subcategory.subtitle }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li>
            <a href="{{ item.url }}"><big>{{ item.title }}</big></a>
          </li>
          {% endif %}
          <br>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      {% assign guides = site.guides  | sort: 'tutorial_index' %}
      {% for post in guides %}
      <div class="post">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p>{{ post.content }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
