---
layout: default
active: guides
sidebar: guides
---

<div class="jumbotron">
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 sticky">
      <div class="tutorial-nav">
        <h2 class="post-title" itemprop="name headline"><a class="post-link" href="/guides/">Overview</a></h2>
        <ul>
          {% for item in site.data.navigation.guides %}
          {% if item.title == page.title %}
            {% if item.subcategories != null %}
            <li>
              <a href="{{ item.url }}"><big>{{ item.title }}</big></a>
              <ul>
                {% for subcategory in item.subcategories %}
                {% if subcategory.subsubcategories != null %}
                <li>
                  <a href="{{ subcategory.url }}">{{ subcategory.subtitle }}</a>
                  <ul>
                    {% for subsubcategory in subcategory.subsubcategories %}
                    <li>
                      <a href="{{ subsubcategory.url }}"><small>{{ subsubcategory.subsubtitle }}</small></a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %} 
                <li>
                  <a href="{{ subcategory.url }}">{{ subcategory.subtitle }}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li>
              <a href="{{ item.url }}"><big>{{ item.title }}</big></a>
            </li>
            {% endif %}
          {% else %}
          <li>
            <a href="{{ item.url }}"><big>{{ item.title }}</big></a>
          </li>
          {% endif %}
          <br>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      {{ content }}
    </div>
  </div>
</div>
