---
layout: default
active: guides
sidebar: guides
---

<div class="jumbotron">
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="tutorial-nav">
        <h2 class="post-title" itemprop="name headline"><a class="post-link" href="/guides/">Overview</a></h2>
        <ul>
          {% for item in site.data.navigation.guides %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr class="featurette-divider">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</div>
